<!-- app.component.html -->

<main class="container">
    <div class="row">
      <div class="col-md-3">
          <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let person of users">
                 Hola! {{person}} Bienvenido
              </li>
            </ul>
      </div>
      <div class="col-md-8">
        <div class="alert alert-primary" *ngFor="let person of mg" role="alert">
          {{person.user}} dice : {{person.value}}
        </div>
  
        <form id="login-form" class="form" action="" method="post" #authForm = "ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="form-group">
              <label  for="UserMsg">Di algo</label>
              <textarea class="form-control" ngModel name = "UserMsg" id="UserMsg" rows="3" required></textarea>
          </div>
          <div class="form-group">
              <input type="submit" value="Enviar" name="create" class="btn btn-info btn-md col-md-12" >
          </div>
      </form>
  
  
      </div>
    </div>
  </main>